# Question 1)

##### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

Step 1 : Define the Hypothesis.

H0: µ1 = µ2 (no significant difference in the diameter.)

Ha: µ1 ≠ µ2 (There is significant difference in the diameter.)

Step 2 : Decide which test to be done.
conduct t-test.

Step 3 : Get the α value
Significance = 5%
α = 0.05

Step 4 : Identify whether the test is one tailed or two tailed.
it is a two-tailed test.

α/2 = 0.025

In [117]:
import pandas as pd 
import numpy as np 
from scipy import stats
import statsmodels.api as sm
import scipy

In [118]:
df = pd.read_csv(r"C:\Users\Chinmay\Desktop\DA-DS\Assignment\DS\assignment 3\Cutlets.csv")

In [119]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [120]:
unit1 = pd.Series(df['Unit A'])
unit2 = pd.Series(df['Unit B'])

In [121]:
t_stat, p_value = stats.ttest_ind(unit1, unit2)

In [122]:
print("T - Statistics :",t_stat)
print("P - Value :",p_value)

T - Statistics : 0.7228688704678063
P - Value : 0.4722394724599501

In [123]:
alpha = 0.5
if p_value < alpha:
        print("Reject null hypothesis : 0.47 < 0.5")
else:
        print("Failed to reject null hypothesis")

Reject null hypothesis : 0.47 < 0.5

as per rule : 

P - value < alpha value = Reject Null Hypothesis

p - value > alpha value = failed to Reject Null Hypothesis

In this case "Reject Null Hypothesis"

Hence, 

There is significant difference in the diameter.

# Question 2)

#####  A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

Step 1 : Define the Hypothesis.

H0: µ1 = µ2 (No, there is no any difference in Turn Around Time(TAT).)

Ha: µ1 ≠ µ2 (There is atleast one of them is different in Turn Around Time(TAT).)

Step 2 : Decide which test to be done. conduct ANOVA test because there is more than 2 samples.

Step 3 : Get the α value Significance = 5% α = 0.05

In [124]:
df = pd.read_csv(r"C:\Users\Chinmay\Desktop\DA-DS\Assignment\DS\assignment 3\LabTAT.csv")

In [125]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [126]:
obj1 = pd.Series(df['Laboratory 1'])
obj2 = pd.Series(df['Laboratory 2'])
obj3 = pd.Series(df['Laboratory 3'])
obj4 = pd.Series(df['Laboratory 4'])

In [127]:
f_stats,p_value = stats.f_oneway(obj1,obj2,obj3,obj4)

In [128]:
print("F - Statistics :",f_stats)
print("P - Value :",p_value)

F - Statistics : 118.70421654401437
P - Value : 2.1156708949992414e-57

In [129]:
alpha = 0.5
if p_value < alpha:
        print("Reject null hypothesis")
else:
        print("Failed to reject null hypothesis")

Reject null hypothesis

as per rule : 

P - value < alpha value = Reject Null Hypothesis

p - value > alpha value = failed to Reject Null Hypothesis

In this case "Reject Null Hypothesis"

Hence, 

There is atlest one of them is different in Turn Around Time(TAT).

# Question 3)

##### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.!

Step 1 : Define the Hypothesis.

H0: µ1 = µ2 (All proportions are equal.)

Ha: µ1 ≠ µ2 (Not all Proportions are equal.)

Step 2 : Decide which test to be done. Chi-Square Test .

Step 3 : Get the α value Significance = 5% α = 0.05

In [130]:
df = pd.read_csv(r"C:\Users\Chinmay\Desktop\DA-DS\Assignment\DS\assignment 3\BuyerRatio.csv")

In [131]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [132]:
data = df.iloc[:,1:]
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [133]:
df1 = np.array(data)
df1

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [134]:
chi,p_val,df,ex = stats.chi2_contingency(df1)

In [135]:
print("Chi - Statistics: ",chi)
print("P - Value: ",p_val)
print("Degree Of Freedom: ",df)
print("Expected Frequencies: ",ex)

Chi - Statistics:  1.595945538661058
P - Value:  0.6603094907091882
Degree Of Freedom:  3
Expected Frequencies:  [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [136]:
alpha = 0.5
if p_val < alpha:
        print("Reject null hypothesis")
else:
        print("Failed to reject null hypothesis")

Failed to reject null hypothesis

as per rule : 

P - value < alpha value = Reject Null Hypothesis

p - value > alpha value = failed to Reject Null Hypothesis

In this case "Failed to reject Null Hypothesis"

Hence, 

All proportions are equal.

# Question 4)

##### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Step 1 : Define the Hypothesis.

H0: µ1 = µ2 (All 4 centers error percentages are same.)

Ha: µ1 ≠ µ2 (atleast one of them error percentages are different.)

Step 2 : Decide which test to be done. Chi-Square Test .

Step 3 : Get the α value Significance = 5% α = 0.05

In [137]:
df = pd.read_csv(r"C:\Users\Chinmay\Desktop\DA-DS\Assignment\DS\assignment 3\Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [138]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [139]:
d1 = df.value_counts(df['Phillippines'])
d2 = df.value_counts(df['Indonesia'])
d3 = df.value_counts(df['Malta'])
d4 = df.value_counts(df['India'])
customer = d1,d2,d3,d4

In [140]:
obj = np.array(customer)

In [141]:
chi,p_val,df,ex = stats.chi2_contingency(obj)

In [142]:
print("Chi - Statistics: ",chi)
print("P - Value: ",p_val)
print("Degree Of Freedom: ",df)
print("Expected Frequencies: ",ex)

Chi - Statistics:  3.8589606858203545
P - Value:  0.2771020991233144
Degree Of Freedom:  3
Expected Frequencies:  [[271.75  28.25]
 [271.75  28.25]
 [271.75  28.25]
 [271.75  28.25]]

In [143]:
alpha = 0.5
if p_val < alpha:
        print("Reject null hypothesis")
else:
        print("Failed to reject null hypothesis")

Reject null hypothesis

as per rule : 

P - value < alpha value = Reject Null Hypothesis

p - value > alpha value = failed to Reject Null Hypothesis

In this case " reject Null Hypothesis"

Hence, 

atleast one of them error percentages are different..